@media (min-width: 801px){
header {
    border: 2px solid black;
    text-align: left;
    padding: 10px;
    left: 0;
    color: white;
    background-image: url(./work/bgt.jpg);
    background-size:cover;
    min-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.sidebar {
    position: fixed;
     border: 3px solid hsl(0, 0%, 0%);
     width: 170px;
     top: 112px;
     height: 100vh;
     left: 8px;
     font-size:1.5rem;
     overflow-y: auto;
     z-index: 1;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
 }

.content {
    margin-left: 180px;
    padding: 20px;
    margin-top: 100px;
    background-color: rgb(245, 248, 248, 50%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(255, 74, 219);
}
body {
    background-color: lightgreen;
}
a{
    text-decoration: none;
    color: inherit;
}
}
@media (min-width: 0) and (max-width: 800px) {
    body {
        background-color: lightgreen;
    }
    header {
        border: 2px solid black;
        text-align: left;
        padding: 10px;
        left: 0;
        color: rgb(0, 0, 0);
        background-image: url(./work/bgt.jpg);
        background-position: 60%;
        min-height: 50px;
        width: 100vw;
        font-family: Arial, Helvetica, sans-serif;
    }
    
     .content {
        margin-top: 0px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: rgb(255, 74, 219);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        position: relative;
        
    }
    
    .content img{
        max-width: 200px;
        min-width: 50px;
    }
    .sidebar {
         border: 2px solid hsl(0, 0%, 0%);
         bottom: 0;
         top: 0;
         left: 0;
         right: 0;
         padding: 10px;
         width: 100vw;
         height: 10%;
         font-family: Arial, Helvetica, sans-serif;
         font-weight: bold;
         position: relative;
     }
     a{
     text-decoration: none;
     color: inherit;
}
}