@media (min-width: 801px) {
header {
    border: 2px solid black;
    text-align: left;
    padding: 10px;
    left: 0;
    background-color: rgb(247, 240, 253);
    min-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.sidebar {
    position: fixed;
     border: 3px solid hsl(0, 0%, 0%);
     width: 20vw;
     top: 112px;
     height: 100vh;
     left: 8px;
     color: black;
     text-decoration: none;
     font-size:1rem;
     overflow-y: auto;
     z-index: 1;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
 }
.submenu {
    font-size: 1rem;
    color: black;
    border: 1px solid black;
    text-decoration: none;
    font-weight: lighter;
    margin-right: 20px;
}
.submenu li {
    list-style-type: lower-latin;
}
.cb {
    border: 1px solid black;
}

a {
    text-decoration: none;
}
.content {
    margin-left: 20vw;
    padding: 20px;
    margin-top: 00px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(255, 74, 219);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.content img{
    max-height: 500px;
    min-height: 100px;
}
}
@font-face {
    font-family:'Yeseva' ;
    src: url(./YesevaOne-Regular.ttf);
}
@media (min-width: 0) and (max-width: 800px) {
    body {
        background-color: rgb(255, 255, 255);
    }
    header {
        border: 2px solid black;
        text-align: left;
        padding: 10px;
        left: 0;
        background-color: rgb(247, 240, 253);
        min-height: 50px;
        width: 100vw;
        font-family: Arial, Helvetica, sans-serif;
    }
    .content {
        margin-top: 0px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: rgb(255, 74, 219);
        display: flex;
        padding: 30px;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        border: 2px solid black;
        position: absolute;
        
    }
    .content img{
        max-width: 350px;
        min-width: 50px;
    }
    .content iframe{
        width: 100vw;
        max-height: 300px;
    }
    .sidebar {
        position: relative;
         border: 2px solid hsl(0, 0%, 0%);
         bottom: 0;
         top: 0;
         left: 0;
         right: 0;
         padding: 10px;
         width: 100vw;
         height: 10%;
         font-family: Arial, Helvetica, sans-serif;
         font-weight: bold;
     }
     
    
      .submenu {
    font-size: 1rem;
    
    display: none;
    color: black;
    border: 1px solid black;
    text-decoration: none;
    font-weight: lighter;
    margin-right: 20px;
}
.submenu li {
    list-style-type: lower-latin;
}
.cb {
    border: 1px solid black;
}
.parent:hover .submenu {
    display: block;
}
.submenu.active {
    display: block;
}
    
}