/*DESKTOP*/
/*DESKTOP*/
/*DESKTOP*/
/*DESKTOP*/
@media (min-width: 801px) {

    body {
        background-color: rgba(244, 212, 243, 0.9);
        
    }
    header {
        border: 2px solid black;
        text-align: left;
        padding: 10px;
        left: 0;
        color: white;
        background-image: url(./work/bgt.jpg);
        background-size:cover;
        min-height: 50px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
    }
    .sidebar {
        position: fixed;
         border: 1px solid hsl(0, 0%, 0%);
         width: 29vw;
         top: 126px;
         height: 85vh;
         color: rgb(254, 251, 251);
         text-decoration: none;
         font-size:1.3rem;
         overflow-y: auto;
         z-index: 1;
         font-family: Arial, Helvetica, sans-serif;
         font-weight: bold;
         background-color: rgba(14, 106, 155, 0.8);
        
     }
   
     .submenu {
        font-size: .9rem;
        color: white;
        border: 1px solid rgb(0, 0, 0);
        text-decoration: none;
        font-weight: lighter;
        margin-right: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    .submenu li {
        list-style-type: lower-latin;
    }    
.cb {
    border: 1px solid black;
}

a {
    text-decoration: none;
    color: inherit;
}
h2 {
    font-family: Arial;
    font-weight: bold;
    color: rgb(255, 115, 0);

}
h3 {
    color: rgb(255, 60, 255);
    font-family: papyrus;
    
}
p{
    font-weight: normal;
    font-size: 20px;
    color: rgb(255, 60, 255);
}
.content {
    margin-left: 29vw;
    padding: 20px;
    margin-top: 00px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: rgba(165, 255, 155, 0.6);
}
.content img{
    max-height: 400px;
}
.content iframe {
    width: auto;
    height: 500px;
    aspect-ratio: 16/9;
}
.image-container hr {
    margin: 50px 0; 
    border: none;
    height: 3px;
    width: calc(100vw-20vw);
    background-color: rgb(16, 16, 16); /* Adjust the color as needed */
}

}
/*-------------MOBILE-------------------------*/
/*-------------MOBILE-------------------------*/
/*-------------MOBILE-------------------------*/
/*-------------MOBILE-------------------------*/
@media (min-width: 0) and (max-width: 800px) {
    body {
        background-image: url(/patt.jpg);
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    h3 {
        color: rgb(255, 157, 0);
        font-family: papyrus;
        font-style: bold;
    }   
    header {
        border: 2px solid black;
        text-align: left;
        padding: 10px;
        margin: 0 auto;
        color: rgb(255, 206, 159);
        background-image: url(./work/bgt.jpg);
        background-position: 60%;
        min-height: 50px;
        width: 100%;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }
    .sidebar {
        position: relative;
        border: 2px solid hsl(0, 0%, 0%);
        margin: 0 auto;
        width: 100%;
        height: 10%;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        background-color: rgba(14, 106, 155, 0.8);
        color: rgb(254, 251, 251);
        box-sizing: border-box;
    }
    .submenu {
        font-size: 1rem;
        display: none;
        color: rgb(255, 255, 255);
        border: 1px solid black;
        text-decoration: none;
        font-weight: lighter;
        margin-right: 20px;
    }
    .submenu li {
        list-style-type: lower-latin;
    }
    .cb {
        border: 1px solid black;
    }
    .parent:hover .submenu {
        display: block;
    }
    .submenu.active {
        display: block;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    .content {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        background-color: rgba(255, 192, 203, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 10px;
        position: relative;
        width: 100%;
        box-sizing: border-box;
    }
    .content img {
        gap: 0px;
        max-width: 100%;
    }
    .content iframe {
        width: 100%;
        max-height: 300px;
        box-sizing: border-box;
    }
}

